#canvas__pane--layout {
    /* ||Structure block */

    -fx-background-color: #1e1e1e;
    -fx-background-radius: 20px;
    -fx-background-size: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

    /* || Modifier block */
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.15), 30, 0, -2, 2);
}

#version {
    /* || Typography Block */
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
    -fx-fill: rgb(31, 47, 63);

}

#versionBlockquote {
    /* || Typography Block*/
    -fx-font-family: "Source Code Variable";
    -fx-font-size: 8px;
    -fx-fill: rgb(41, 47, 63);
    -fx-font-weight: lighter;
}

#textForDay {
    /* || Typography Block*/
    -fx-font-family: sans-serif;
    -fx-text-fill: yellow;
}

#labelForDay, #labelForDate {
    /* || Typography Block*/
    -fx-font-family: "Source Code Pro";
    -fx-fill: #1F2F3F;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#labelForTime {
    /* || Typography Block*/
    -fx-font-family: "Corbel";
    -fx-fill: #1F2F3F;
    -fx-font-size: 13;
    -fx-font-weight: 700;
}

#labelForMonth {
    /* || Typography Block*/
    -fx-font-family: "Calibri";
    -fx-fill: #1F2F3F;
    -fx-font-size: 10;
    -fx-font-weight: lighter;
}


/* MINIMIZE BUTTON */
#canvas__button--minimize {
    all: none;
    /* || Structure Block*/
    -fx-background-image: url('../image/minimize_button_app.png');
    -fx-background-color: transparent;
    -fx-min-width: 40;
    -fx-min-height: 30;
    -fx-background-radius: 0 0 0 0;
    -fx-background-size: 30%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#canvas__button--minimize:hover {
    all: none;
    /* || Structure Block*/
    -fx-background-image: url('../image/minimize_button_hover_app.png');
    -fx-background-color: #4f4f4f;
    -fx-min-width: 40;
    -fx-min-height: 30;
    -fx-background-radius: 0 0 0 0;
    -fx-background-size: 30%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

/* EXIT BUTTOn */
#canvas__button--exit {
    all: none;
    /* || Structure Block*/
    -fx-background-image: url('../image/exit_button_app.png');
    -fx-background-color: transparent;
    -fx-min-width: 40;
    -fx-min-height: 30;
    -fx-background-size: 12 12;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 0 20 0 0;
}
#canvas__button--exit:hover {
    all: none;
    /* || Structure Block*/
    -fx-background-image: url('../image/exit_button_hover_app.png');
    -fx-background-color: #1b3eed;
    -fx-min-width: 40;
    -fx-min-height: 30;
    -fx-background-size: 12 12;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#textForLearnButton {
    all: none;
    /* || Typography Block*/
    -fx-fill: rgb(31, 47, 63);
    -fx-font-size: 15;
    -fx-font-family: "system-ui", sans-serif;
    -fx-font-weight: bold;
}

#circleLearnButton {
    /* || Modifier Block*/
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, -2, 3);
}

#learnButton:hover {
    /* || Structure Block*/
    -fx-background-color: rgb(31, 47, 63);
    -fx-background-size: contain;
    -fx-min-width: 50;
    -fx-min-height: 50;

    /* || Modifier Block*/
    -fx-effect: dropshadow(gaussian, #17f3d2, 20, 0, 0, 0);
}

#appLearnButton {
    all: none;
    /* || Structure Block*/
    -fx-background-image: url('../image/arrow_icon_learnbutton_app.png');
    -fx-background-color: red;
}

#stateDay {
    /* || Typography Block*/
    -fx-font-size: 15;
    -fx-font-family: "Source Code Pro";
    -fx-font-weight: bold;
    -fx-fill: rgb(239, 203, 53);
}


