#textWord {
    /* || Typography structure */
    -fx-font-family: "Segoe UI Variable";
    -fx-font-size: 45;
    -fx-text-fill: #1f2f3f;

}

#textPronunciation {
    /* || Typography structure */
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 15;
    -fx-text-fill: #1f2f3f;
}

#board {
    /* || Structure block */
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;

    -fx-background-radius: 20px;
}

#buttonPOS {
    all: none;
    -fx-background-color: transparent;
    -fx-background-radius: 11px;
    -fx-border-radius: 11px;
    -fx-border-color: #808080;
    -fx-border-width: 1px;
    -fx-translate-y: 0;

    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #808080;
}

#buttonPOS:hover {
    -fx-background-color: #1e60f4;
    -fx-border-width: 0;

    -fx-text-fill: #fffdfd;
    -fx-font-family: "Segoe UI Semibold";

}

#buttonPOS.toggle-button:selected {
    -fx-background-color: #1e60f4;
    -fx-effect: dropshadow(three-pass-box, rgba(30, 96, 244, 0.5), 5, 0, 0, 5);
    -fx-translate-y: -7;
    -fx-border-width: 0;

    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #fffdfd;
}

#textDefinition {
    /* || Typography structure */
    -fx-font-family: "Segoe UI Variable";
    -fx-font-weight: bold;
    -fx-fill: #1f2f3f;
    -fx-font-size: 12px;
}

#textExample {
    /* || Typography structure */
    -fx-font-family: "Segoe UI Variable";
    -fx-fill: #1f2f3f;
    -fx-font-size: 12px;
}

#textPhrase {
    /* || Typography structure */
    -fx-font-family: "Segoe UI Semibold";
    -fx-fill: #ec7fef;
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

#irregularLayout {
    /* || Structure block */
    -fx-background-color: #1684f2;
    -fx-background-radius: 20;
}
#title {
    /* || Typography block */
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 12;
}

#irregularVerb {
    /* || Typography block */
    -fx-font-size: 15;
    -fx-font-family: "Segoe UI Semibold";
    -fx-fill: #f1f2f3;
}
#titleIrregularVerb {
    /* || Typography block */
    -fx-font-size: 10;
    -fx-font-family: "Segoe UI Variable";
    -fx-fill: #f1f2f3;
}

#contronymTitle {
    /* || Typography block */
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI Semibold";
    -fx-fill: #1f2f3f;
}
#contronymLayout {
    /* || Structure block */
    -fx-background-color: #f2f2f0;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(34, 35, 35, 0.1), 20, 0, 5, 5);
}
#contronymButton {
    /* || Structure block */
    -fx-background-color: #f7f7f5;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(43, 43, 43, 0.1), 20, 0, 2, 2);

    /* || Typography block */
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 10px;
    -fx-text-fill: #1f2f3f;
}
#contronymButton:hover {
    -fx-pref-width: 73;
    -fx-pref-height: 24;
    -fx-background-radius: 14;
    -fx-underline: true;
}