/* LAYOUT */
#word-board__pane--layout {
    -fx-background-color: #252525;
    -fx-background-radius: 10px;
    -fx-padding: 0 0 0 30;
}

#word-board__text--word {
    /* || Typography structure */
    -fx-font-family: "Segoe UI Variable";
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-fill: #f2f2f2;

}

#word-board__text--pronunciation {
    /* || Typography structure */
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: #92989b;
}

#board {
    /* || Structure block */
    /*-fx-border-color: #cccccc;*/
    /*-fx-border-width: 1px;*/
    /*-fx-border-radius: 20px;*/


    /*-fx-background-radius: 20px;*/
}

#part-of-speech-view__button--pos {
    all: none;
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #f2f2f2;
    -fx-border-width: 1px;
    -fx-translate-y: 0;

    -fx-font-family: "Segoe UI Variable";
    -fx-text-fill: #f2f2f2;
}

#part-of-speech-view__button--pos:hover {
    -fx-background-color: #1b3eed;
    -fx-border-width: 0;

    -fx-text-fill: #fffdfd;
    -fx-font-family: "Segoe UI Semibold";

}

#part-of-speech-view__button--pos.toggle-button:selected {
    -fx-background-color: #1b3eed;
    -fx-effect: dropshadow(three-pass-box, rgba(30, 96, 244, 0.5), 5, 0, 0, 5);
    -fx-translate-y: -7;
    -fx-border-width: 0;

    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #fffdfd;
}

#part-of-speech-view__text--definition {
    /* || Typography structure */
    -fx-font-family: "Segoe UI Variable";
    -fx-font-weight: bold;
    -fx-fill: #f2f2f2;
    -fx-font-size: 13px;
}

#part-of-speech-view__text--phrase {
    /* || Typography structure */
    -fx-font-family: "Segoe UI Variable";
    -fx-font-weight: bold;
    -fx-fill: #f2f2f2;
    -fx-font-size: 13px;
}

#part-of-speech-view__text--example {
    /* || Typography structure */
    -fx-font-family: "Segoe UI Variable";
    -fx-fill: #f2f2f2;
    -fx-font-size: 13px;
}

#irregular-verbs-view__pane--layout {
    /* || Structure block */
    -fx-background-color: #252525;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(43, 43, 43, 0.05), 20, 0, 2, 2);
}

#title {
    /* || Typography block */
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 12;
}

#irregular-verbs-view__text--past-simple {
    /* || Typography block */
    -fx-font-size: 15;
    -fx-font-family: "Segoe UI Variable";
    -fx-font-weight: bolder;
    -fx-fill: #f1f2f3;
}

#irregular-verbs-view__text--title {
    /* || Typography block */
    -fx-font-size: 10;
    -fx-font-family: "Segoe UI Semibold";
    -fx-fill: #4f4f4f;
}

#contronym--view__text--title {
    /* || Typography block */
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI Semibold";
    -fx-fill: #f2f2f2;
}

#contronym--view__pane--layout {
    /* || Structure block */
    -fx-background-color: #252525;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(43, 43, 43, 0.05), 20, 0, 2, 2);

}

#contronym-view__button {
    /* || Structure block */
    -fx-background-color: #1b1b1b;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(43, 43, 43, 0.1), 20, 0, 2, 2);

    /* || Typography block */
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 10px;
    -fx-text-fill: #f2f2f2;
}

#part-of-speech-view__scrollpane--content {
    -fx-background-color: transparent;
}

#word-board__button--speech {
    -fx-content-display: center;
    -fx-background-image: url(../image/sound_icon.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-min-width: 19px;
    -fx-min-height: 19px;
    -fx-max-width: 19px;
    -fx-max-height: 19px;

    -fx-background-color: #1e1e1e;
    -fx-background-radius: 4px;


}
#word-board__button--speech:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
#word-board__button--add {
    -fx-min-width: 19px;
    -fx-min-height: 19px;
    -fx-max-width: 19px;
    -fx-max-height: 19px;

    -fx-background-color: #1e1e1e;
    -fx-background-radius: 4px;

    -fx-graphic: url(../image/add_icon.png);


    -fx-text-fill: #1b3eed;
}
#word-board__button--add:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}