@charset "utf-8";
	.NormalCharacterStyle12
{
	font-family : Segoe UI Variable;
	font-size : 10px;
	color : #666666;
	color : rgb(102, 102, 102);
}
.NormalCharacterStyle1
{
	font-family : Segoe UI Variable;
	font-size : 11px;
	color : #F1F2F3;
	color : rgb(241, 242, 243);
}
.NormalCharacterStyle2
{
	font-family : Acumin Variable Concept;
	font-style : italic;
	font-size : 17px;
	letter-spacing : 0.85px;
	color : #F1F2F3;
	color : rgb(241, 242, 243);
	text-shadow : 1px 1px 1px rgba(34, 35, 35, 0.3);
}
.NormalCharacterStyle13
{
	font-family : Segoe UI Variable;
	font-size : 10px;
	color : #666666;
	color : rgb(102, 102, 102);
}
.NormalCharacterStyle10
{
	font-family : Segoe UI Variable;
	font-size : 10px;
	color : #666666;
	color : rgb(102, 102, 102);
}
.NormalCharacterStyle3
{
	font-family : Segoe UI Variable;
	font-weight : bold;
	font-size : 22px;
	color : #1F2F3F;
	color : rgb(31, 47, 63);
}
.NormalCharacterStyle7
{
	font-family : Segoe UI Variable;
	font-size : 8px;
	color : #838384;
	color : rgb(131, 131, 132);
}
.NormalCharacterStyle4
{
	font-family : Segoe UI Variable;
	font-weight : bold;
	font-size : 25px;
	color : #1F2F3F;
	color : rgb(31, 47, 63);
}
.NormalCharacterStyle5
{
	font-family : Segoe UI Variable;
	font-weight : bold;
	font-size : 22px;
	color : #1F2F3F;
	color : rgb(31, 47, 63);
}
.NormalCharacterStyle6
{
	font-family : Segoe UI Variable;
	font-weight : bold;
	font-size : 22px;
	color : #1F2F3F;
	color : rgb(31, 47, 63);
}
.NormalCharacterStyle11
{
	font-family : Segoe UI Variable;
	font-size : 10px;
	color : #666666;
	color : rgb(102, 102, 102);
}
.NormalCharacterStyle9
{
	font-family : Segoe UI Variable;
	font-size : 12px;
	color : #404040;
	color : rgb(64, 64, 64);
}
.NormalCharacterStyle16
{
	font-family : Segoe UI Variable;
	font-size : 12px;
	color : #F1F2F3;
	color : rgb(241, 242, 243);
}
.NormalCharacterStyle15
{
	font-family : Segoe UI Variable;
	font-size : 10px;
	color : #666666;
	color : rgb(102, 102, 102);
}
.NormalCharacterStyle
{
	font-family : Segoe UI Variable;
	font-size : 8px;
	letter-spacing : 0.4px;
	color : #1F2F3F;
	color : rgb(31, 47, 63);
}
.NormalCharacterStyle8
{
	font-family : Segoe UI Variable;
	font-weight : bold;
	font-size : 40px;
	color : #0922D3;
	color : rgb(9, 34, 211);
}
.NormalCharacterStyle14
{
	font-family : Segoe UI Variable;
	font-size : 10px;
	color : #666666;
	color : rgb(102, 102, 102);
}
.NormalCharacterStyle17
{
	font-family : Segoe UI Symbol;
	font-size : 12px;
	color : #F0F0F2;
	color : rgb(240, 240, 242);
}
.NormalCharacterStyle21
{
	font-family : Source Sans Variable;
	font-size : 25px;
	color : #F2F3F4;
	color : rgb(242, 243, 244);
}
.Search_Engnie
{
	background-image : url(Search_Engnie.png);
	background-repeat : no-repeat;
}
.NormalCharacterStyle18
{
	font-family : Segoe UI Symbol;
	font-size : 12px;
	color : #F0F0F2;
	color : rgb(240, 240, 242);
}
.NormalCharacterStyle19
{
	font-family : Segoe UI Variable;
	font-weight : bold;
	font-size : 12px;
	color : #9595F9;
	color : rgb(149, 149, 249);
}
.NormalCharacterStyle20
{
	font-family : Segoe UI Variable;
	font-weight : bold;
	font-size : 12px;
	color : #F0F0F2;
	color : rgb(240, 240, 242);
}
.NormalCharacterStyle22
{
	font-family : Source Sans Variable;
	font-size : 10px;
	color : #F4F4F4;
	color : rgb(244, 244, 244);
}
.NormalCharacterStyle23
{
	font-family : Source Sans Variable;
	font-size : 33px;
	color : #8989E8;
	color : rgb(137, 137, 232);
}
.NormalCharacterStyle24
{
	font-family : Source Code Variable;
	font-size : 12px;
	color : #F2F3F4;
	color : rgb(242, 243, 244);
}
.NormalCharacterStyle27
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #E0DCCD;
	color : rgb(224, 220, 205);
}
.NormalCharacterStyle28
{
	font-family : Source Code Variable;
	font-weight : bold;
	font-size : 25px;
	color : #1F2F3F;
	color : rgb(31, 47, 63);
}
.NormalCharacterStyle25
{
	font-family : Source Code Variable;
	font-weight : bold;
	font-size : 18px;
	color : #FFFFFD;
	color : rgb(255, 255, 253);
}
.NormalCharacterStyle29
{
	font-family : Source Code Variable;
	font-weight : bold;
	font-size : 25px;
	color : #1F2F3F;
	color : rgb(31, 47, 63);
}
.NormalCharacterStyle26
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #E0DCCD;
	color : rgb(224, 220, 205);
}
.XMLID_00000136394776802610738730000011405304681416695734_
{
	background-image : url(XMLID_00000136394776802610738730000011405304681416695734_.png);
	background-repeat : no-repeat;
}
.Min_Button_00000063600057130228895500000007789532131086010294_
{
	background-image : url(Min_Button_00000063600057130228895500000007789532131086010294_.png);
	background-repeat : no-repeat;
}
