#paneForBackground {
    -fx-background-image: url('../image/gui_app.png');
    -fx-background-color: transparent;
    -fx-background-size: 95%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.15), 30, 0, -2, 2);
}

#version {
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
    -fx-fill: rgb(31, 47, 63);

}

#versionBlockquote {
    -fx-font-family: "Source Code Variable";
    -fx-font-size: 8px;
    -fx-fill: rgb(41, 47, 63);
    -fx-font-weight: lighter;
}

#textForDay {
    -fx-font-family: sans-serif;
    -fx-text-fill: yellow;
}

#labelForDay, #labelForDate {
    -fx-font-family: "Source Code Pro";
    -fx-fill: #1F2F3F;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#labelForTime {
    -fx-font-family: "Corbel";
    -fx-fill: #1F2F3F;
    -fx-font-size: 13;
    -fx-font-weight: 700;
}

#labelForMonth {
    -fx-font-family: "Calibri";
    -fx-fill: #1F2F3F;
    -fx-font-size: 10;
    -fx-font-weight: lighter;
}

#exitButton {
    all: none;
    -fx-background-image: url('../image/exit_button_app.png');
    -fx-background-color: transparent;
    -fx-min-width: 40;
    -fx-min-height: 30;
    -fx-background-size: 12 12;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 0 25 0 0;
}

#minimizeButton {
    all: none;
    -fx-background-image: url('../image/minimize_button_app.png');
    -fx-background-color: transparent;
    -fx-min-width: 40;
    -fx-min-height: 30;
    -fx-background-radius: 0 0 0 0;
    -fx-background-size: 30%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#minimizeButton:hover {
    all: none;
    -fx-background-image: url('../image/minimize_button_hover_app.png');
    -fx-background-color: rgba(201, 200, 200, 0.5);
    -fx-min-width: 40;
    -fx-min-height: 30;
    -fx-background-radius: 0 0 0 0;
    -fx-background-size: 30%;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#exitButton:hover {
    all: none;
    -fx-background-image: url('../image/exit_button_hover_app.png');
    -fx-background-color: rgba(135, 233, 224, 0.8);
    -fx-min-width: 40;
    -fx-min-height: 30;
    -fx-background-size: 12 12;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 0 25 0 0;
}

#textForLearnButton {
    all: none;
    -fx-fill: rgb(31, 47, 63);
    -fx-font-size: 15;
    -fx-font-family: "system-ui", sans-serif;
    -fx-font-weight: bold;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 1, 0, -2, 2);*/
}

#circleLearnButton {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, -2, 3);

}

#learnButton:hover {
    -fx-background-color: rgb(31, 47, 63);
    -fx-background-size: contain;

    /*-fx-background-radius: 100%;*/
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-effect: dropshadow(gaussian, #17f3d2, 20, 0, 0, 0);
}

#appLearnButton {
    all: none;
    -fx-background-image: url('../image/arrow_icon_learnbutton_app.png');
    -fx-background-color: red;
}

#stateDay {
    -fx-font-size: 15;
    -fx-font-family: "Source Code Pro";
    -fx-font-weight: bold;
    -fx-fill: rgb(239, 203, 53);
}


